[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
arcade = "*"
toml = "*"

[requires]
python_version = "3.7"

[scripts]
mc2d = 'python -m mc2d'
